*{
    margin: 0px;
    padding: 0px;
}

/* Header styles */

header {
	background-color: #FFF;
	-moz-border-radius-topleft: 1.1em;
	border-top-left-radius: 1.1em;
	-moz-border-radius-topright: 1.1em;
	border-top-right-radius: 1.1em;
	-webkit-box-shadow: #858585 0.1em 0.1em 0.2em;
	box-shadow: #858585 0.1em 0.1em 0.2em;
	height: 115px;
}

#logo img {
	float: left;
	margin-right: 1em;
	margin-left: 1em;
}

#site-name {
	color: #D33;
	padding-top: 0.2em;
	letter-spacing: -0.04em;
	font-size: 2.2em;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;

}

#site-slogan {
	color: #686868;
	letter-spacing: -0.05em;
	font-size: 1.5em;
	text-align: left;
}

a{
    text-decoration: none;
}


/* Navigation styles */

#navbar {
	background-color: #EEE; /* light gray */
	margin-top: 0em;
	font-weight: bold;
	text-transform: uppercase;
	height: 2.6em;
	line-height: 2.6em;
	font-size: 0.9em;
	border-top: solid 0.1em #CCC;
}

#navbar ul {
	margin: 0;
	padding: 0;
}

#navbar ul li {
	float: left;
	height: 2.6em;
	line-height: 2.6em;
	list-style-type: none;
}

#navbar a {
	color: #222;
	display: block;
	padding: 0 1.3em;
}

#navbar a:hover {
	text-decoration: none;
	background-color: #800000;
	color: #FFF;
	-webkit-transition: background 0.4s linear;
	-moz-transition: background 0.4s linear;
	transition: background 0.4s linear;
}

body {
	width: 75%;
	color: #222; /* black */
	background-color: #FDF8F2; 
	margin: 0 auto;
	padding: 10px;
    border: none;
}

article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Content styles */

article {
	padding: 1em;
	float: left;
	clear: left;
	width: 97%;
	background-color: #FFF; /* white */
	-webkit-border-radius: 0.1em;
	-moz-border-radius: 0.1em;
	-ms-border-radius: 0.1em;
	-o-border-radius: 0.1em;
	border-radius: 0.1em;
	-webkit-box-shadow: #858585 0.1em 0.1em 0.2em;
	box-shadow: #858585 0.1em 0.1em 0.2em;
	
}

body, input, select, a.button{
	font-family: "Ubuntu", "HelveticaNeue", "Helvetica Neue", Helvetica,
	Arial, sans-serif;
}

fieldset {
	background: #F8F8FF url('../images/grey-white.gif') repeat-x 0 0;
	border: 0.1em solid #CCC;
	line-height: 1.5em;
	margin: 1em 0.3em;
	padding: 0.8em 1em 1em;
	-webkit-border-radius: 1.1em;
	-moz-border-radius: 1.1em;
	border-radius: 1.1em;
}

legend {
	letter-spacing: 0.25em;
	font-weight: bold;
	text-transform: uppercase;
	color: #D33;
	padding: 0 0.3em 0 0.3em;
}

/* Footer styles */

footer, #badges {
	padding: 1.3em 0;
	clear: both;
}

#badges a:hover {
	text-decoration: none;
}

#badges #html5-icon {
	float: left;
}

#badges #fb-like {
	margin-top: 1.2em;
}

#copyright {
	color: #7D7D7D;
	text-align: center;
}

/*button styles*/

/* Navigation styles */

#button {
	background-color: #CEECF5; /* light gray */
	margin-top: 0em;
	font-weight: bold;
	text-transform: uppercase;
	height: 2.6em;
	line-height: 2.6em;
	font-size: 0.9em;
	border-top: solid 0.1em #CCC;
	width: 400px;
	-webkit-border-radius: 1.1em;
	-moz-border-radius: 1.1em;
	border-radius: 1.1em;
	text-align: center;
}

#button ul {
	margin: 0;
	padding: 0;
}

#button ul li {
	float: left;
	height: 2.6em;
	line-height: 2.6em;
	list-style-type: none;
}

#button a {
	color: #222;
	display: block;
	padding: 0 1.3em;
}

#button a:hover {
	text-decoration: none;
	background-color: #61380B;
	color: #FFF;
	-webkit-transition: background 0.4s linear;
	-moz-transition: background 0.4s linear;
	transition: background 0.4s linear;
	-webkit-border-radius: 1.1em;
	-moz-border-radius: 1.1em;
	border-radius: 1.1em;
}

table, tr, td, th {
	border: 2px solid black;		

}

table {
	border-collapse: collapse;
	
	}
