<html lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>UMCP Event Signup</title>
	<link type="text/css" href='css/layout.css' rel="stylesheet">
	<link rel="shortcut icon" href="{{url_for('static', filename='images/umd.jpeg')}}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="container">
	<!-- #header -->
	<header class="container">
		<div id="logo">
			<a href="./" title="Home" rel="home"><img src="{{url_for('static', filename='images/umd.jpeg')}}" alt="Logo" /></a>
		</div>
		<div id="site-name">
			UMCP Events
		</div>
		<div id="site-slogan">
			Social Networking at the Smith School
		</div>
	</header>
	<!-- /#header -->

	<!-- #navigation -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="http://www.umd.edu" title="UMCP"
						rel="home">UMCP</a></li>
				<li class="nav-item active"><a class="nav-link" href="./InsertUsers.html" title="Insert Users"
						rel="IU">Insert Users</a></li>
				<li class="nav-item active"><a class="nav-link" href="./InsertEvents.html" title="Insert Events"
						rel="IE">Insert Events</a></li>

			</ul>
		</div>
	</nav>
	<!-- /#navigation -->

	<!-- OK so type - same, label = for -->

	<!-- #content -->
	<article class="container">
		<div>
			{% block article %}
			{% endblock %}
		</div>
	</article>


	<!-- #footer -->
	<footer>

		<div id="fb-like">

			<iframe src="https://www.facebook.com/plugins/like.php?href=http://www.umiacs.umd.edu/~louiqa/2016/BMGT406/"
				style="border:none; width:450px; height:80px"></iframe>

		</div>
	</footer>
	<!-- /#footer -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>